*.java.hsp
*.sonarj
*.sw*
.DS_Store
.settings
bin
integration-repo
ivy-cache
jxl.log
jmx.log
derby.log
spring-test/test-output/
argfile*
activemq-data/

classes/
/build
buildSrc/build
/spring-*/build
/src/asciidoc/build
target/


.classpath
.project
spring-*/src/main/java/META-INF/MANIFEST.MF


out
test-output


# Outputs
bazel-*
test-project-host-*
dist/
dist-schema/

# IDEs
.idea/
jsconfig.json
.vscode/

# Typings file.
typings/

# Misc
coverage/
node_modules/
tmp/
npm-debug.log*
yarn-error.log*
.ng_pkg_build/

# Mac OSX Finder files.
**/.DS_Store


